/* open */
#open .open-title {
  margin: 32px 20px 32px;
  display: block;
}

#open h1 {
  font-size: 20px;
}

#open .open-title > p {
  margin-top: 8px;
  font-size: 14px;
}

.pop-open {
  width: 40px;
  font-size: 14px;
  font-weight: 800;
  padding: 0 16px;
  flex-shrink: 0;
}

.pop-open h2 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 4px;
}

.search-contents {
  margin: 0 20px;
}