.next {
  width: 320px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #d4145a 0%, #fbb03b 100%);
  box-shadow: 0px 4px 12px 0px rgba(153, 153, 153, 0.25);
  color: #fff;
  text-align: center;
  font-family: "NanumSquare Neo OTF";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
