.locate{
    color: #222;
    font-family: "NanumSquare Neo OTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.locate img{
    margin-right: 3px;
}

.schedule{

}

.homepage{

}

.insta{
    color: #222;
    font-family: "NanumSquare Neo OTF";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.service{

}

.introduce{
    color: #222;
    font-family: "NanumSquare Neo OTF";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.map{

}